body{
    position: relative;
    background: hsl(226, 43%, 10%);
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.periodical-schedule{
    width: 14%;
    height: 45%;
    position: absolute;
    top: 180px;
    left: 240px;
    background: rgb(25, 30, 63);
    border-radius: 20px;
    
}
.image-wrapper{
    height: 55%;
    background: hsl(246, 80%, 60%);
    border-radius: 20px;
    padding-top: 50px;
    color: #fff;
    line-height: 12%;
}
.image-wrapper p{
    font-size: 12px;
    font-family: Verdana;
    margin-left: 16%;
    margin-top: 25%;
}
.image-wrapper h2{
    margin-left: 16%;
    margin-top: 5px;
    line-height: 25px;
    font-family: "Rubik",sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}
.periodical-schedule  ul li{
    list-style: none;
    line-height: 35px;
    margin-left: 1px;
}
.periodical-schedule ul li a{
    color: #fff;
    text-decoration: none;
    font-family: Verdana;
}
.periodical-schedule ul li a:hover{
    font-weight: bold;
}
.image-wrapper img{
    width: 4rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    margin-left: 24px; 
    align-self: center;
    line-height: 50px;  
}



.work{
    width: 14%;
    height: 21%;
    position: absolute;
    top: 180px;
    left: 470px;
    background: #FACE75;
    border-radius: 20px;
    overflow: hidden;
}
.work-wrapper{
    height: 55%;
    background: rgb(25, 30, 63);
    border-radius: 20px;
    padding-top: 50px;
    color: #fff;
    line-height: 12%;
    margin-top: 41px;
    overflow: hidden;
    left: 12px;
    padding-left: 20px;
}
.work h4{
    position: absolute;
    top: 45px;
    font-size: 12px;
    font-family:  verdana;
    font-weight: bold;
}
.work h2{
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.work span{
    font-size: small;
    font-family: Tahoma;
}




.play{
    width: 14%;
    height: 21%;
    position: absolute;
    top: 180px;
    left: 47%;
    background: #57A7E5;
    border-radius: 20px;
    overflow: hidden;
}
.play-wrapper{
    height: 55%;
    background: rgb(25, 30, 63);
    border-radius: 20px;
    padding-top: 50px;
    color: #fff;
    line-height: 12%;
    margin-top: 41px;
    overflow: hidden;
    left: 12px;
    padding-left: 20px;
}
.play h4{
    position: absolute;
    top: 45px;
    font-size: 12px;
    font-family:  verdana;
    font-weight: bold;
}
.play h2{
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.play span{
    font-size: small;
    font-family: Tahoma;
}



.study{
    width: 14%;
    height: 21%;
    position: absolute;
    top: 180px;
    left: 63%;
    background: #57A7E5;
    border-radius: 20px;
    overflow: hidden;
}
.study-wrapper{
    height: 55%;
    background: rgb(25, 30, 63);
    border-radius: 20px;
    padding-top: 50px;
    color: #fff;
    line-height: 12%;
    margin-top: 41px;
    overflow: hidden;
    left: 12px;
    padding-left: 20px;
}
.study h4{
    position: absolute;
    top: 45px;
    font-size: 12px;
    font-family:  verdana;
    font-weight: bold;
}
.study h2{
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.study span{
    font-size: small;
    font-family: Tahoma;
}
