body{
    position: relative;
    background: hsl(226, 43%, 10%);
    height: 900px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.periodical-schedule{
    width: 16%;
    height: 50%;
    position: absolute;
    top: 200px;
    left: 190px;
    background: rgb(25, 30, 63);
    border-radius: 20px;
}
.image-wrapper{
    height: 55%;
    background: hsl(246, 80%, 60%);
    border-radius: 20px;
    padding-top: 50px;
    color: #fff;
    line-height: 12%;
}
.report{
    font-size: 12px;
    font-family: Verdana;
    margin-left: 16%;
    margin-top: 25%;
    line-height: 15px;
}
.name{
    width: 7rem;
    height: 5rem;
    margin-left: 16%;
    margin-top: 5px;
    line-height: 25px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
}
.periodical-schedule  ul li{
    list-style: none;
    line-height: 35px;
    margin-left: 1px;
}
.periodical-schedule ul li a{
    color: #fff;
    text-decoration: none;
    font-family: Verdana;
}
.periodical-schedule ul li a:hover{
    font-weight: bold;
}
.image-wrapper img{
    width: 4rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    margin-left: 24px; 
    align-self: center;
    line-height: 50px;  
}
section{
    height: 52%;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    gap: 2rem;
    padding-left: 30rem;
    padding-bottom: 2rem;
    margin: 5%; 
}
article{
    width: 15rem;
    height: 12rem;
    border-radius: 20px;
}
.card{
    color: #fff;
}
.card-wrapper{
    background: rgb(25, 30, 63);
    height: 10rem;
    margin-top: 32px;
    border-radius: 20px;
    padding-left: 18px;
    padding-top: 14px;
}
.card-subject{
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    height: 2rem;
    display: inline-block;
}
.card-time{
    font-size: 3.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 4rem;
}
.card-former{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 7px;
    display: inline-block;
}